[submodule "tasks-230819/light/tasks-230819/light/laravel-project-travellist"]
	path = tasks-230819/light/tasks-230819/light/laravel-project-travellist
	url = https://gitfront.io/r/deusops/2cL1ba8fzWDo/laravel-project-travellist/
